$bgCjs: #d6c807;
$cWhite: #fff;
$cBlack: #000;

@mixin flexbox {
    display: flex;
    flex-direction: column;
}

@mixin hover {
    &:hover {
        text-decoration: underline;
        color: $cWhite;
    }
}

// CREAMOS UN MIXIN AL CUAL NOSOTROS LE ASIGNAMOS VARIABLES PRE-DEFINIDAS
//difuminado, color de shadow y background-color
@mixin shadowC($blur, $shaCont, $bgColor) {
    box-shadow: 0px 0px $blur $shaCont;
    padding: 15px;
    border-radius: 12px;
    background-color: $bgColor;
}

//Agregar medidas para PC, Laptop, tablets, Movil, iWatch, etc.
@mixin devices {
    @media screen and (max-width: 70rem) {
        @content
    }
}

// CLASE PLACEHOLDER solo se usa para EXTENDER PROPIEDADES
%link {
    //extends con nombre link (añade propiedades)
    text-decoration: none;
    color: $cBlack;
    gap: 5px;
    cursor: pointer;
    @include hover;
}

%button {
    display: inline-flex;
    justify-content: space-evenly;
    border: none;
    border-radius: 40px;
    margin: 0 auto;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    width: 180px;
    height: 100px;
    @include hover;
}