$bgCjs: #d6c807;
$cWhite: #fff;
$cBlack: #000;

@mixin flexbox {
    display: flex;
    flex-direction: column;
}

@mixin hover {
    &:hover {
        text-decoration: underline;
    }
}

// CREAMOS UN MIXIN AL CUAL NOSOTROS LE ASIGNAMOS VARIABLES PRE-DEFINIDAS
@mixin shadowC($blur, $shaCont, $bgColor) {
    box-shadow: 0px 0px $blur $shaCont;
    padding: 15px;
    border-radius: 12px;
    background-color: $bgColor;
}

body {
    font-family: "Libre Baskerville", serif;
}


.headerC {
    margin: auto;
    width: 100%;
    background-color: $bgCjs;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerC__img {
        background-color: $cBlack;
        width: 100px;
        padding: 5px;
        box-sizing: border-box;
    }

    .headerC__nav {
        @include flexbox;
        gap: 5px;

        a {
            color: $cBlack;
            font-size: 1rem;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            @include hover;
        }
    }

    .headerC__cont {
        @include flexbox;
        border: 3px groove $cBlack;

        a {
            text-decoration: none;
            color: $cBlack;
            gap: 5px;
            padding: 5px;
            cursor: pointer;
            @include hover;
        }
    }
}

.mainC {
    .mainC__art {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-top: 20px;

        &:first-child {
            @include shadowC(45px, rgb(11, 240, 11), $cBlack);
        }

        &:nth-child(3) {
            @include shadowC(45px, rgb(229, 255, 0), $cBlack);
        }

        &.mainC__art--two {
            @include shadowC(15px, rgb(255, 0, 0), $cBlack);
        }
    }
}